<div class="header">
  <h1>Path of Ivy</h1>
</div>
<div class="content">
  <div class="character-pane">
    <h2>Info</h2>
    <div class="inner-info">
      <table>
        <tr>
          <td class="label">Name:</td><td><%= @character.name %></td>
        </tr>
        <tr>
          <td class="label">Build:</td><td><%= @character.build %></td>
        </tr>
        <tr>
          <td class="label">Level:</td><td><%= @character.level %></td>
        </tr>
        <tr>
          <td class="label">Faction:</td><td><%= @character.factionName %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="quest-pane">
    <h2>Quest Log</h2>
    <div class="inner-info">
      <p>Coming soon!</p>
    </div>
  </div>
</div>